{% extends "crush/base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome : {{createuser.name}}</h1>
  <h3>Please copy the above url to see the list all pranked names</h3>
  <br>
  <h3>Below is the list of People who were pranked : </h3>

  <div class="container">
    {% for prank in createuser.prankster_name.all %}
    <p>{{prank.yourName}}</p>
    <p>{{prank.crushName}}</p>
    <br>
    {% empty %}
    <p>No one entered the details</p>
    {% endfor %}
  </div>
  <h3>Send this link to your friends to prank</h3>
  <!-- <p>http://127.0.0.1:8000/calculate/{{createuser.pk}}</p> -->
    <input type="text" value="http://127.0.0.1:8000/calculate/{{createuser.pk}}" id="myInput">
    <button onclick="myFunction()" class="btn btn-primary">Copy Url</button>

    <script>
    function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
    }
    </script>


</div>

{% endblock %}
